setStyleSheet(
	"QPushButton { "
		"font-size:100px;"
		"color:yellow;"
		"border-radius:150px;"
		"background-color:rgba(0,255,0,200);"
	"}"
	"QPushButton:hover { "
		"font-size:100px;"
		"color:green;"
		"border-radius:150px;"
		"background-color:rgba(255,255,0,200);"
	"}"
	"QPushButton:pressed {"
		"color:orange;"
		"border-width:3;"
		"border-color:orange;"
		"border-style:solid;"
		"background-color:cyan;"
	"}");